html, body {
    font-family: 'Lato', sans-serif;
    background: url(https://s.cdpn.io/1715/dark_stripes.png);
    text-align: center;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.center-container {
    height: calc(100% - 120px); /* Berücksichtige die Höhe der Navigationsleiste */
    position: relative;
}

video {
    width: 100vw;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.start-button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    z-index: 3; /* Erhöhe den Z-Index, wenn nötig */
}

.start-button {
    padding: 0;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.start-button img {
    width: 250px; /* Ändere die Breite nach Bedarf */
    height: auto; /* Behält das Seitenverhältnis des Bildes bei */
    background: transparent;
}

.start-button:hover {
    background: rgb(144, 144, 144);
}


/*Navgation Bar Unten (Roter, Gelber, Grüner Pfeil) */
.navigation-bar-bottom {
    position: absolute;
    bottom: 0;
    margin-left: 40%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Buttons am unteren Rand ausrichten */
    width: 80%;
    max-width: 50px;
    z-index: 1;
}


.navigation-bar-bottom .button {
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 50px;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: background 0.3s ease;
}



/*Navgation Bar  (Blauer Pfeil) */
.navigation-bar-upper {
    margin-bottom: 100px;
    position: absolute;
    bottom: 0;
    margin-left: 47%;
    align-items:center;
    width: 80%;
    max-width: 50px;
    z-index: 10;
}

.navigation-bar-upper .button {
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 50px;
    padding: 10px 30px;
    border-radius: 50px;
    text-decoration: none;
    transition: background 0.3s ease;
}

/*Stop Button Design*/
.navigation-bar-bottom #stopBtn img {
    width: 24px; /* Passe die Breite nach Bedarf an */
    height: 24px; /* Passe die Höhe nach Bedarf an */
}



/*Button Design Einzeln*/
#leftArrowBtn {
    align-self: flex-end; /* Unten ausrichten */
    margin-right: 10px;
    color: #ff0202;
}

#stopBtn {
    align-self: flex-end; /* Unten ausrichten */
    margin: 0 10px;
    color: #ffe600;
}

#upArrowBtn {
    align-self: flex-end; /* Unten ausrichten */
    margin-left: 10px;
    color: #0000ff;
}

#rightArrowBtn {
    align-self: flex-end; /* Unten ausrichten */
    margin-left: 10px;
    color: #008a05;
}

.navigation-bar-bottom .button:hover {
    background: rgb(144, 144, 144);
}

.navigation-bar-upper .button:hover {
    background: rgb(144, 144, 144);
}

.hidden {
    display: none;
}


